<div class="continer my-3"> <!--my means add margin 5 in both top and bottom-->
    <!--Add header, mb = margin bottom is 3-->
    <h1 class=mb-3>Kabi_timesheets</h1>

    <!--show this table if -->
    <table class="table" *ngIf= "kabi_timesheets && kabi_timesheets.length>0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Week</th>
                <th>Name</th>
                <th>StudentNo</th>
                <th>Activity</th>
            </tr>
        </thead>
        <tbody>
            <!--get the data by looping the employee list array-->
            <!--Let x of y, loop in the y, y has to be in component.ts file-->
            <tr *ngFor = "let kabi_timesheet of kabi_timesheets">
                <td>{{kabi_timesheet.id}}</td>
                <td>{{kabi_timesheet.Week}}</td>
                <td>{{kabi_timesheet.Name}}</td>
                <td>{{kabi_timesheet.StudentNo}}</td>
                <td>{{kabi_timesheet.Activity}}</td>
            </tr>
        </tbody>
    </table>
    <!--add a pragraph if there is no list of employees or no data in the list-->
<p *ngIf = "!kabi_timesheets || kabi_timesheets.length <=0" > No Data Found </p>
</div>