<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!--change the Navbar name -->
    <a class="navbar-brand" href="#">PRT585_2023_Group7 </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="s360233_kabi">S360233<br>Kabi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="employees">S360496<br>Chen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="employees">S360863<br>Mahmud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="employees">S360655<br>Moriom</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="employees">S358037<br>Amin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
